*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width:100px;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 10px;
    margin-top: 10px;
}

.add-sec{
font-size: 1rem;
}

.add-icon{
    display: flex;
    align-items: center;
}

.border:hover{
    border: 2px solid white;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: rgba(255, 174, 0, 0.945);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid orange;
}

/** account n list k ly h ye**/

span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.75rem;
    font-weight: 700;
}
/** cart **/
.nav-cart i{
    font-size: 35px;
}

.nav-cart {
    font-size: 14px;
    font-weight: 700;
}

/** panel **/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    /**vertical align krne k ly**/
    align-items: center;
    /**horizontl align krne k ly**/
    justify-content: space-evenly;
    
}

.panel-optionss p{
    display: inline;
    margin-left: 10px;
}

.panel-optionss{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/** hero-section**/
.hero-section{
   background-image: url("hero_image.jpg");
   background-size: cover;
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.hero-message{
    background-color: white;
    color:black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width:80%;
    margin-bottom: 25px;
}

/** "hero message a" iska mtlb ki anchor tag jise lga h usme kya chahte h hm**/
/** like isme "Click here to go to amazon.in" ispe anchor tag lga h**/

.hero-message a{
    color:#007185;
}

/** shop-section**/
.box {
    border: 2px solid black;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 5px;

}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box1-img{
    background-image: url('https://drive.google.com/file/d/1YdcpDmFVt0tIc_pFSnkn2XnT7H9yOjVd/view?usp=sharing');
    height: 300px;
    background-size: cover;
}

.box2-img{
    background-image: url("box2_image.jpg");
    height: 300px;
    background-size: cover;
}

.box3-img{
    background-image: url("box3_image.jpg");
    height: 300px;
    
}

.box4-img{
    background-image: url("box4_image.jpg");
    height: 300px;
    background-size: cover;
}

.box5-img{
    background-image: url("box5_image.jpg");
    height: 300px;
    background-size: cover;
}

.box6-img{
    background-image: url("box6_image.jpg");
    height: 300px;
    background-size: cover;
}

.box7-img{
    background-image: url("box7_image.jpg");
    height: 300px;
    background-size: cover;
    
}

.box8-img{
    background-image: url("https://images.indianexpress.com/2019/09/toys.jpg?w=414");
    height: 300px;
    background-size: cover;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.see-more{
    color: #007185;
}



